@{
    ViewData["Title"] = "Página Inicial";
}

<div style="text-align:center; margin-top:50px;">
    <h1>Bem-vindo ao Controle Financeiro</h1>
    <a href="/Account/Login" class="btn btn-primary">Login</a>
</div>
